<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items List</title>
</head>
<body>
    {% include 'header.html' %}

    <h1>Items List</h1>

    {% if items %}
        <ul>
            {# Siyahıdakı hər bir elementi dövrə salırıq #}
            {% for item in items %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% else %}
        {# Əgər siyahı boşdursa, bu mesaj görünəcək #}
        <p>No items found.</p>
    {% endif %}

    {% include 'footer.html' %}
</body>
</html>